@using Microsoft.AspNetCore.Identity
@using FreshMove.Constants;

<nav class="navside navside-expand-lg sticky-top order-2 order-lg-0 fixed-top">
    <div class="container invisible-scrollbar">


    </div>

</nav>
