@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@500&display=swap');

:root {
    --primary: #0a9396;
    --secondary: #005f73;
    --lighterBlue: #94d2bd;
    --danger: #ae2012;
    --Green: #606c38;
    --redish: #e76f51;
    --grey: #f5f3f4;
    --black: #242423;
    --nav-bg: #3a5a40;
    --box-shadow: 0 0 1rem .5rem rgba(0,0,0,0.02);
    --link-color: #3a5a40;
    --spacer-1: .25rem;
    --spacer-2: .5rem;
    --spacer-3: 1rem;
    --spacer-4: 1.5rem;
    --spacer-5: 2rem;
    --spacer-6: 5rem;
}
body {
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}

* {
    box-sizing: border-box;
}
.btn {
    border: none;
    padding: 10px 20px 10px 20px;
}

.btn-primary {
    background-color: var(--primary);
    border-color: none;
    text-decoration: none;
}
.btn-black {
    background-color: var(--black);
    border-color: none;
    text-decoration: none;
    color:white;
}
.btn-black:hover {
    background-color: var(--grey);
    border-color: none;
    text-decoration: none;
    color:black;
}
.bg-green{
    background-color: var(--Green);
}
.bg-redish{
    background-color: var(--redish);
}
.bg-grey{
    background-color: var(--redish);
}

.btn-primary:hover {
        background-color: var(--secondary);
        border: none;
}

.btn-primary:focus {
        background-color: var(--primary);
        border: none;
}

.btn-danger {
    background-color: var(--danger);
}

span {
    color: var(--redish);
    font-weight: 400;
}

.light {
    color: var(--lighterBlue);
}

.primary {
    color: var(--primary);
}

.danger {
    color: var(--danger);
}

html {
  font-size: 14px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--grey);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:hover {
        color: #a3b18a;
 }
.bg-pic{
    background-image:url("../img/Jumbo3.png");
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #588157;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #588157b0;
}
/*Navigation for users*/
.navside {
    background-color: var(--nav-bg);
    box-shadow: var(--box-shadow);
}

.navside > .container, .navside > .container-fluid {
        display: flex;
        padding-top: var(--spacer-3);
        padding-bottom: var(--spacer-3);
        text-align: center
}


.navside-nav {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding-left: 0;
    list-style: none
}
.navside-nav .nav-link.active, .navside-nav .nav-link.show 
{
        color: var(--link-color)
}



.invisible-scrollbar {
    overflow: auto;
    scrollbar-width: none
}


/*Media Queries*/

@media (min-width:576px) {
    .navside-expand-sm > .container, .navside-expand-sm > .container-fluid {
        flex-direction: column;
        height: 100vh;
        padding: var(--spacer-5)
    }

    .navside-expand-sm .navside-nav {
        flex-direction: column;
        margin-top: var(--spacer-5);
        margin-bottom: var(--spacer-5)
    }

        .navside-expand-sm .navside-nav .nav-item + .nav-item {
            margin-top: var(--spacer-5)
        }
}

@media (min-width:768px) {
    .navside-expand-md > .container, .navside-expand-md > .container-fluid {
        flex-direction: column;
        height: 100vh;
        padding: var(--spacer-5)
    }

    .navside-expand-md .navside-nav {
        flex-direction: column;
        margin-top: var(--spacer-5);
        margin-bottom: var(--spacer-5)
    }

        .navside-expand-md .navside-nav .nav-item + .nav-item {
            margin-top: var(--spacer-5)
        }
}

@media (min-width:992px) {
    .navside-expand-lg > .container, .navside-expand-lg > .container-fluid {
        flex-direction: column;
        height: 100vh;
        padding: var(--spacer-5)
    }

    .navside-expand-lg .navside-nav {
        flex-direction: column;
        margin-top: var(--spacer-5);
        margin-bottom: var(--spacer-5)
    }

        .navside-expand-lg .navside-nav .nav-item + .nav-item {
            margin-top: var(--spacer-5)
        }
}

@media (min-width:1200px) {
    .navside-expand-xl > .container, .navside-expand-xl > .container-fluid {
        flex-direction: column;
        height: 100vh;
        padding: var(--spacer-5)
    }

    .navside-expand-xl .navside-nav {
        flex-direction: column;
        margin-top: var(--spacer-5);
        margin-bottom: var(--spacer-5)
    }

 .navside-expand-xl .navside-nav .nav-item + .nav-item {
     margin-top: var(--spacer-5)

 }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}