@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "~/Views/Shared/_AuthUserLayoutcshtml.cshtml";
}

<header>
   
    <h1 class="text-center mb-4" style="font-weight:800; color:var(--Green)"> Are You Sure <br /> You Want To <br />Log Out??</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {

            

           
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-primary  mb-4 ">Click here to Logout</button>
            </form>
            <a class="btn btn-danger btn-long w-auto" asp-action="" asp-controller="">Back</a>
            
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
