
@{
    ViewData["Title"] = "Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">

    <img class="w-50" src="~/img/contsruction.png" />


    <h1>Page Under Construction</h1>

</div>



