@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3">

    <div class="p-5 bg-green rounded mb-5">

        <div class="jumbotron jumbotron-fluid bg-green p-3 mb-4 d-flex">
                <div class="col-md-6">

                    <h1 class="display-4 text-white" style="font-size: 90px;">Freshest Food</h1>
                <p class="lead text-white">Lorem ipsum dolor sit amet. Eum magnam aspernatur est corporis officia et iusto excepturi est error quidem?.</p>
                <a class="btn btn-black btn-lg" >Shop Now</a>
                </div>
                <div class="col-md-6">

                    <img class="w-100"  src="~/img/jumbo1.png" />

                </div>

        </div>

    </div>

    <div class="container-fluid">
       <h3 class="text-center"> By Category</h3>

        <div class="card-group mt-3 text-center">

            <div class="shadow-sm rounded p-2 m-2" style="width: 16rem;">
                <img class="card-img-top w-100" src="~/img/jumbo1.png" alt="Card image cap">
                <div class="card-body">
                    <p class="text-center fs-6"> Baking</p>
                </div>
            </div>
            <div class="shadow-sm rounded p-2 m-2"  style="width: 16rem;">
                <img class="card-img-top w-100" src="~/img/jumbo1.png" alt="Card image cap">
                <div class="card-body">
                    <p class="text-center fs-6">Meat</p>
                </div>
            </div>     
            <div class="shadow-sm rounded p-2 m-2" style="width: 16rem;">
                <img class="card-img-top w-100" src="~/img/jumbo1.png" alt="Card image cap">
                <div class="card-body">
                    <p class="text-center fs-6">Comsetics</p>
                </div>
            </div>
            <div class="shadow-sm rounded p-2 m-2" style="width: 16rem;">
                <img class="card-img-top w-100"  src="~/img/jumbo1.png" alt="Card image cap">
                <div class="card-body">
                    <p class="text-center fs-6">Dairy</p>
                </div>
            </div>  

        </div>
      
    </div>

  

</div>
