@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3">

    <div class="p-5 bg-green rounded mb-5">

        <div class="jumbotron jumbotron-fluid bg-green p-3 mb-4 d-flex">
                <div class="col-md-6">

                 <h1 class="display-4 text-white" style="font-size: 90px;">Freshest Food</h1>
                <p class="lead text-white">Fresh Move offers wholesome shopping experiences with the best components and top-notch service, offering a voyage of culinary delights.</p>
                <a class="btn btn-black btn-lg" asp-action="Shop" asp-controller="Shop">Shop Now</a>
                </div>
                <div class="col-md-6">

                    <img class="w-100"  src="~/img/jumbo1.png" />

                </div>

        </div>

    </div>

    <div class="container-fluid">
        <h1 class="text-center fw-bold" style="font-size:50px;">Fresh Move Finest</h1>
        <div class="row mt-5">

            <div class="col-md-6">
                <h1 class="display-4" style="font-size: 72px;color:var(--Green); ">Fresh <br /> Organic Food</h1>
                <p class="lead">We strive to promote health and wellness through our selection of organic, gluten-free, and vegan products, with health-conscious labels, nutritional resources, and expert advice..</p>
                <a class="btn btn-black btn-lg" asp-action="Shop" asp-controller="Shop">Shop Now</a>

            </div>
            <div class="col-md-6 vh-100">

                <img src="~/img/Green.jpg" alt="Sign Up" class="w-100 rounded" />

            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 vh-100" >

                <img src="~/img/Food.jpg" alt="Sign Up" class="w-100 rounded h-100" />

            </div>
            <div class="col-md-6">
                <h1 class="display-4" style="font-size: 72px;color:var(--Green); ">Shop Smart. <br />Eat Well.</h1>
                <p class="lead">We have a dedicated selection of products that cater to your unique dietary needs, with clearly marked aisles and labels to find the right options.</p>
                <a class="btn btn-black btn-lg" asp-action="Shop" asp-controller="Shop">Shop Now</a>

            </div>
         
        </div>
      
      
    </div>

    <div class="">


    </div>
  

</div>
