@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3">

    <div class="p-5 bg-green rounded mb-5">

        <div class="jumbotron jumbotron-fluid bg-green p-3 mb-4 d-flex">
                <div class="col-md-6">

                    <h1 class="display-4 text-white" style="font-size: 90px;">Freshest Food</h1>
                <p class="lead text-white">Lorem ipsum dolor sit amet. Eum magnam aspernatur est corporis officia et iusto excepturi est error quidem?.</p>
                <a class="btn btn-black btn-lg" >Shop Now</a>
                </div>
                <div class="col-md-6">

                    <img class="w-100"  src="~/img/jumbo1.png" />

                </div>

        </div>

    </div>

    <div class="container-fluid">
       <h3 class="text-center mb-4">Shop By Category</h3>

        <div class="row mb-4">

            <div class="col-md-6">
                
                <div class="shadow rounded-3 p-3 bg-LightBlue">
                    
                     <div class="d-flex justify-content-center">
                            <div class="mt-3">
                            <h4> Meat & Frozens</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                <a class="link-danger">Shop</a>
                            </div>

                            <div class="">

                                <img src="~/img/jumbo3.png" class="w-100" />
                            </div>
                     </div>
                 
                </div>

            </div>
            
            <div class="col-md-6">

                <div class="shadow rounded-3 p-3 bg-LightBlue">

                    <div class="d-flex justify-content-center">
                        <div class="mt-3">
                            <h4> Meat & Frozens</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            <a class="link-danger">Shop</a>
                        </div>

                        <div class="">

                            <img src="~/img/jumbo3.png" class="w-100" />
                        </div>
                    </div>

                </div>

            </div>
            
        </div>
        <div class="row mb-4">

            <div class="col-md-6">
                
                <div class="shadow rounded-3 p-3">
                    
                     <div class="d-flex justify-content-center">
                            <div class="mt-3">
                            <h4> Meat & Frozens</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                <a class="link-danger">Shop</a>
                            </div>

                            <div class="">

                                <img src="~/img/jumbo3.png" class="w-100" />
                            </div>
                     </div>
                 
                </div>

            </div>
            
            <div class="col-md-6">

                <div class="shadow rounded-3 p-3">

                    <div class="d-flex justify-content-center">
                        <div class="mt-3">
                            <h4> Meat & Frozens</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            <a class="link-danger">Shop</a>
                        </div>

                        <div class="">

                            <img src="~/img/jumbo3.png" class="w-100" />
                        </div>
                    </div>

                </div>

            </div>
            
        </div>
        <div class="row mb-4">

            <div class="col-md-6">
                
                <div class="shadow rounded-3 p-3">
                    
                     <div class="d-flex justify-content-center">
                            <div class="mt-3">
                            <h4> Meat & Frozens</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                <a class="link-danger">Shop</a>
                            </div>

                            <div class="">

                                <img src="~/img/jumbo3.png" class="w-100" />
                            </div>
                     </div>
                 
                </div>

            </div>
            
            <div class="col-md-6">

                <div class="shadow rounded-3 p-3">

                    <div class="d-flex justify-content-center">
                        <div class="mt-3">
                            <h4> Meat & Frozens</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            <a class="link-danger">Shop</a>
                        </div>

                        <div class="">

                            <img src="~/img/jumbo3.png" class="w-100" />
                        </div>
                   </div>

                </div>
              
            </div>
            
        </div>
      
    </div>

    <div class="">


    </div>
  

</div>
